{% extends "staff/base.html" %}

{% block title %} {{ person.name }} 班级课程列表 {% endblock %}

{% block infoTitle %}
<h4 id="info-title">
    {{ person.name }} {{ person.get_identity_display }} 班级课程列表 
</h4>
{% endblock %}

{% block infoItems %}
</style>
<table>
    <thead>
        <tr>
            <th>序号</th>
            <th>学年</th>
            <th>学期</th>
            <th>课程名称</th>
            <th>年级</th>
            <th>班级名称</th>
            <th>备注</th>
    </thead>
    <tbody>
        {% for c in course_list %}
        <tr class="{% cycle "even" "odd" %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ c.teaching_year }}</td>
            <td>{{ c.semester }}</td>
            <td><a href="{% url view_course c.pk %}">{{ c.name }}</a></td>
            <td>{{ c.grade }}</td>
            <td><a href="{{ c.klass.get_absolute_url }}">{{ c.klass }}</a></td>
            <td>{{ c.remark }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="999">暂无相关信息记录</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
