{% extends "staff/base.html" %}
{% load generic_object_details %}
{% block main-content %}
<div id="main-content">
        {% block infoTitle %}
        <h4 id="info-title">{{ person.name }} {{ person.get_identity_display }} 简历条目详情
            <a href="javascript:print();" class="print_button">打印</a>
            {% if user.pk == person.pk %}<a href="{% url staff_edit_experience experience.pk %}">编辑</a>{% endif %}
        </h4>
        {% endblock %}

    {% generic_object_details experience %}
</div>
{% endblock main-content %}
