{% extends "person/base.html" %}

{% block extra-head %}
<style type="text/css">
#change_password_form {
    padding: 10px;
}
form p label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
    line-height: 2em;
}
form p {
    margin-bottom: 10px;
}
form p input {
    width: 200px;
}
form textarea {
    width: 300px;
}
form p.submit {
    margin-left: 105px;
}
ul.errorlist {
    color: red;
    margin-left: 105px;
    padding: 5px;
}
#content {
    padding: 10px;
}
#change_password_title {
    background:transparent url(/static/img/mash/key.png) no-repeat left center;
    padding-left: 42px;
    margin-left: 20px;
}

</style>

{% endblock %}

{% block content %}
<h1 id="change_password_title">更改密码</h1>
<hr />
<p class="success">密码更改成功, 新设置的密码已经生效， 如需要再次更改密码， 你可以<a href="{% url password_change %}">返回</a>再重新修改。</p>
{% endblock %}
