{% extends "base/base.html" %}
{% block title %} 阳西县兴华中学-数字校园 {% endblock %}

{% load navactive_tag %}
{% block subnav %}
{% url person_class_list user.pk as my_person_class_list %}
<div id="subnav" class="clearfix">
    <ul class="menu">
        <!--<li><a href="{% url article_index %}" class="{% reverse_navactive request "article_index" "active" %}">我的课程表</a></li>-->
        <li><a href="{{ my_person_class_list }}" class="{% navactive request my_person_class_list "active" %}">我的班级</a></li>
        <!--<li><a href="{% url my_publish_article %}" class="{% reverse_navactive request "my_publish_article" "active" %}">我的老师</a></li>-->
        <li><a href="{% url classgrade_check_index %}" class="{% reverse_navactive request "classgrade_check_index" %}">日常考核记录</a></li>
        <li><a href="{% url classgrade_check_summary %}" class="{% navactive request "^/classgrade/check/summary/" %}">考核评比汇总</a></li>
        <li><a href="{% url classgrade_student_comment_list %}" class="{% reverse_navactive request "classgrade_student_comment_list" %}">学生期末考评</a></li>
        {% block extra-subnav %} {% endblock %}
    </ul>
</div><!--/subnav-->
{% endblock subnav %}
