{% extends "school/view_basic_profile.html" %}

{% block title %} {{ person.name }} 监护人 {% endblock %}

{% block infoTitle %}
<h4 id="info-title">{{ person.name }} {{ person.get_identity_display }} 监护人 </h4>
{% endblock %}

{% block infoType_student_keeper %}
<li><strong>监护人 </strong></li>
{% endblock %}

{% block infoItems %}
<dl class="hdl">
{% if keeper %}
    {% for k in keeper %} 
    <dt>姓名</dt> <dd>{{ k.name }}</dd>
    <dt>关系</dt> <dd>{{ k.relation }}</dd>
    <dt>联系地址</dt> <dd>{{ k.postal_address }}</dd>
    <dt>邮政编码</dt> <dd>{{ k.postal_code }}</dd>
    <dt>联系电话</dt> <dd>{{ k.telephone }}</dd>
    <dt>电子信箱</dt> <dd>{{ k.email }}</dd>
    <hr/>
    {% endfor %}
{% else %}
<h5>暂没有相关监护人信息</h5>
{% endif %}
</div>
{% endblock %}
