{% extends "school/view_basic_profile.html" %}

{% block title %} {{ person.name }} 毕业信息{% endblock %}

{% block infoTitle %}
<h4 id="info-title">{{ person.name }} {{ person.get_identity_display }} 毕业信息</h4>
{% endblock %}

{% block infoType_student_graduate %}
<li><strong>毕业</strong></li>
{% endblock %}

{% block infoItems %}
<dl class="hdl">
{% if graduate %}
    {% with graduate as g %}
    <dt>姓名</dt> <dd>{{ g.student.name }}</dd>
    <dt>毕业去向</dt> <dd>{{ g.direction }}</dd>
    <dt>毕业年月</dt> <dd>{{ g.date|date:"Y年n月d日" }}</dd>
    <dt>毕业评语</dt> <dd>{{ g.comment }}</dd>
    <hr/>
    {% endwith %}
{% else %}
<h5>暂没有相关毕业信息</h5>
{% endif %}
</div>
{% endblock %}
