{% extends "student/base.html" %}

{% block title %} {{ person.name }} 学生贫困補助 {% endblock %}

{% block infoTitle %}
<h4 id="info-title">
    {{ person.name }} {{ person.get_identity_display }} 贫困補助列表 
</h4>
{% endblock %}

{% block infoItems %}
</style>
<table>
    <thead>
        <tr>
            <th>序号</th>
            <th>学段</th>
            <th>学年</th>
            <th>学期</th>
            <th>年级</th>
            <th>補助时间</th>
            <th>補助金额</th>
            <th>经办老师</th>
            <th colspan="3" class="th-action">操作</th></tr>
    </thead>
    <tbody>
        {% for k in assistance_list %}
        <tr class="{% cycle "even" "odd" %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ k.learning_stage }}</td>
            <td>{{ k.learning_year }}</td>
            <td>{{ k.semester }}</td>
            <td>{{ k.grade }}</td>
            <td>{{ k.date }}</td>
            <td>{{ k.amount }}</td>
            <td>{{ k.implementator }}</td>
            <td class="td-action"><a href="{% url student_assistance k.pk %}">查看</a></td>
            <td class="td-action"><a href="#">编辑</a></td>
            <td class="td-action"><a href="#">删除</a></td>
        </tr>
        {% empty %}
        <tr><td colspan="999">暂无相关信息记录</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
